{% extends 'base.html' %}
{% block content %}

<!--메인 첫 자전거 이미지 -->
<div>
       <center> <img src="../../static/img/main_src.png"  height="550"> </center>

</div>

<!--2번쨰-->
<br><br>
<div class="place"><br><br>
    <h1 style="margin-left:5%;">고객님을 위한 테마 추천!</h1>
    <h4 style="margin-left:5%;">사진을 클릭하시면 좋은 스팟을 찾을 수 있어요!</h4><br><br>
<!-- partial:index.partial.html -->
<div class="nt-homeunit container">
  <div class="nt-homeunit__list">
    <div class="nt-homeunit__card">
      <figure>
        <a href="{% url 'route:spot' %}">
        <img src="../../static/img/경주.jpg">
        </a>
      </figure>
    </div>
    <div class="nt-homeunit__card">
      <figure>
        <img src="../../static/img/돌산.jpg" alt="">
      </figure>
    </div>
    <div class="nt-homeunit__card">
      <figure>
        <img src="../../static/img/전주.jpg" alt="">
      </figure>
    </div>
  </div>
  <div class="nt-homeunit__ctrl">
    <div class="ctrl-left">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div class="ctrl-rite">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="../../static/css/main_css/main2.js"></script>
</div>

<!--맞춤형-->
<!--<div class="place">-->
<div class ="back">
  <div class="container">
    <div class="page3-box">
      <img class="page3-img" src="../../static/img/bike_page.png">
<div class="information">
  <div class="info-title"> 본인의 여행 스타일 찾아보세요!! </div>
    <div class="info-title2"> 맞춤형 설문 조사 해보기 </div>
  <br>
  <div class="info-all">고객님의 여행 스타일은 어떤가요? 혹시 본인의 여행 스타일을 잘 모르시겠나요?? 그렇다면 맞춤형 추천 페이지에 들어가 본인의 여행 스타일을 찾아보세요! </div>
    <a href="{% url 'route:custom' %}"><button class="button learn-more">설문 조사 해보기</button></a>
      </div>
    </div>
  </div>
</div>

<!--리뷰 2-->
<div class="rev_back2">
  <div class="container">
    <div class="page3-box">
      <img class="page3-img" src="../../static/img/돌산.jpg">
<div class="information">
  <div class="info-title"> 여행후기 </div>
  <br>
  <div class="info-all">OnLine의 도움을 받아 성공적인 여행을 다녀온 고객님들의 후기를 살펴보세요! </div>
  <a href="{% url 'route:review' %}"><button class="button learn-more">자세히 보기</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}