{% extends 'base.html' %}
{% block content %}

<!--<template backroundColor="black">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container"> 
        <section id="main">
            <h1>Q. 좋아하는 여행지가 있나요?</h1>
            <input type="radio" name="q2" id="q21">
            <label for="q21">바다</label>
            
            <input type="radio" name="q2" id="q22">
            <label for="q22">산</label>
            
            <input type="radio" name="q2" id="q23">
            <label for="q23">도심</label>    
        </section>
    </div>
    <div>
        <a href="{% url 'route:third' %}"><button id="CButton">다음으로</button></a>
    </div>
<!--</template>

<script> export default {} 
</script> 
-->
<style>
#main {
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
    width: 80%;
    text-align: center;
    border-radius: 20%;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

input[type="radio"] {
  zoom: 1.3;
}

label {
    padding:5px;
    color:#222;
    font-family:corbel,sans-serif;
    font-size: 15px;
    margin: 10px;
    vertical-align:top;
}

#CButton {
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
    width: auto;
    position: relative;

    color: #222;
    background: none;
    border: solid 1px;
    border-radius: 2em;
    font: inherit;
    font-size: 15px;
    font-style: bold;
    padding: 0.75em 2em;
    cursor: pointer;
    outline: none;
  }


</style>

{% endblock %}