{% extends 'base.html' %}
{% block content %}

<!--<template backroundColor="black">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container"> 
        <section id="main">
            <!-- <div id='surveyElement'>
                <survey :survey="surveyModel"/>
            </div> -->
            <h1>Q. 여행 스타일이 어떠한가요?</h1>
            <input type="radio" name="q1" id="q11">
            <label for="q11">유명 관광지 탐방여행</label>

            <input type="radio" name="q1" id="q12">
            <label for="q12">SNS 핫플레이스 탐방여행</label>
            
            <input type="radio" name="q1" id="q13">
            <label for="q13">자연테라피 힐링여행</label>
            
            <input type="radio" name="q1" id="q14">
            <label for="q14">액티비티 체험여행</label>
            
            <input type="radio" name="q1" id="q15">
            <label for="q15">역사와 문화 여행</label>
            
            <input type="radio" name="q1" id="q16">
            <label for="q16">맛있는 먹방 여행</label>      
        </section>
    </div>
    <div>
        <a href="{% url 'route:second' %}"><button id="CButton">다음으로</button></a>
    </div>
<!--</template>-->

<script>
</script> 

<style>
#main {
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
    width: 80%;
    text-align: center;
    border-radius: 20%;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

input[type="radio"] {
  zoom: 1.3;
}

label {
    padding:5px;
    color:#222;
    font-family:corbel,sans-serif;
    font-size: 15px;
    margin: 10px;
    vertical-align:top;
}

#CButton {
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
    width: auto;
    position: relative;

    color: #222;
    background: none;
    border: solid 1px;
    border-radius: 2em;
    font: inherit;
    font-size: 15px;
    font-style: bold;
    padding: 0.75em 2em;
    cursor: pointer;
    outline: none;
  }


</style>

{% endblock %}

