{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br>
  <h3>{{ where }}</h3>
  <h6>{{startdate}} ~ {{enddate}}</h6>
</div>
<hr>
<div class="container">
  {% for i in days %}
  <br>
  <h4> DAY <span id="count_html">{{ i|add:"1" }}</span> </h4>
  <!--<h6> 해당 날짜 </h6>-->
  <table class="table table-hover table-dark">
    <tbody>
    <!-- 메모리스트 -->
    {% for j in memo_lists %}
      {% if i|add:"1" == j.count %}
        <tr>
          <th scope="row">{{j.title}}</th>
          <td>{{j.content}}</td>
          <td>{{j.plan_pk.username}}</td>
          <td>
            <a href="{% url 'route:memo_update' j.id %}"><button type="button" class="btn btn-primary">수정</button></a>
            <a href="{% url 'route:memo_delete' j.id %}"><button type="button" class="btn btn btn-danger">삭제</button></a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}

    <!-- 장소리스트 -->
    {% for k in place_lists %}
      {% if i|add:"1" == k.count %}
        <tr>
          <th scope="row">{{k.place_name}}</th>
          <td>{{k.place_address}}</td>
          <td>{{k.plan_pk.username}}</td>
          <td>
            <a href="{% url 'route:map_update' k.id %}"><button type="button" class="btn btn-primary">수정</button></a>
            <a href="{% url 'route:map_delete' k.id %}"><button type="button" class="btn btn btn-danger">삭제</button></a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
     </tbody>
  </table>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="{% url 'route:map' %}"><button type="button" value="{{ i|add:'1' }}" class="placeBtn btn btn-default">장소 추가</button></a>
    </div>

    <div class="btn-group" role="group">
      <a href="{% url 'route:memo'%}"><button type="button" id="{{ i|add:'1' }}" class="memoBtn btn btn-default">메모 추가</button></a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>
<div class="modal-footer">
  <!-- 일시적으로 저장되는 것으로 보여줄 예정, 나중에는 저장버튼을 누르면 planmodel의 pk 생성,
  해당 아이디로 생성된 메모 데이터를 그 planmodel pk로 전환해서 저장-->
  <a href="{% url 'route:schedule_del' %}">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </a>
  <!--Plan Table에 저장하기 위한 버튼-->
  <form action="{% url 'route:schedule_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="username" name="username" value="{{user}}">
    <button type="submit" class="btn btn-primary">저장</button>
  </form>
</div>
<script>
  // 메모 추가 버튼을 누를 때 Day 부분이 자동으로 채워지는 코드
  $('.memoBtn').click(function(){
   day = $(this).attr("id");
   window.localStorage.setItem('day',day);
  });
  // 장소 추가 버튼을 누를 때 Day 부분이 ajax로 넘기기 위한 코드, 넘긴 후 db에 저장
  // 단, datepicker 로 설정한 날짜도 변수 이름이 day여서 place table db column 명인 count로 전달
  $('.placeBtn').click(function(){
   count = $(this).attr("value");
   window.localStorage.setItem('count',count);
  });


</script>
{% endblock %}