{% extends 'base.html' %}
{% block content %}
<script>
// 뒤로가기 막기
history.pushState(null, null, location.href);
window.onpopstate = function(event) {
	history.go(1);
	alert('현재 페이지를 벗어나려면 해당 일정을 저장 혹은 close 버튼을 눌러주세요');
};
</script>
<div class="container">
  <br>
  <h3>{{ where }}</h3>
  <h6>{{startdate}} ~ {{enddate}}</h6>
</div>
<hr>
<div class="container">
  <div id="map" style="width:100%;height:350px;"></div>
  {% for i in days %}
  <br>
  <h4> DAY <span id="count_html">{{ i|add:"1" }}</span> </h4>
  <!--<h6> 해당 날짜 </h6>-->
  <table class="table table-hover table-dark">
    <tbody>
    <!-- 메모리스트 -->
    {% for j in memo_lists %}
      {% if i|add:"1" == j.count %}
        <tr>
          <th scope="row">{{j.title}}</th>
          <td>{{j.content}}</td>
          <td>{{j.plan_pk.username}}</td>
          <td>
            <a href="{% url 'route:memo_update' j.id %}"><button type="button" class="btn btn-primary">수정</button></a>
            <a href="{% url 'route:memo_delete' j.id %}"><button type="button" class="btn btn btn-danger">삭제</button></a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <table class="table table-hover">
    <tbody>

    <!-- 장소리스트 -->
    {% for k in place_lists %}
      {% if i|add:"1" == k.count %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <th scope="row">{{k.place_name}}</th>
          <td>{{k.place_address}}</td>
          <td>{{k.plan_pk.username}}</td>
          <td>
            <a href="{% url 'route:map_update' k.id %}"><button type="button" class="btn btn-primary">수정</button></a>
            <a href="{% url 'route:map_delete' k.id %}"><button type="button" class="btn btn btn-danger">삭제</button></a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
     </tbody>
  </table>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="{% url 'route:map' %}"><button type="button" value="{{ i|add:'1' }}" class="placeBtn btn btn-default">장소 추가</button></a>
    </div>

    <div class="btn-group" role="group">
      <a href="{% url 'route:memo'%}"><button type="button" id="{{ i|add:'1' }}" class="memoBtn btn btn-default">메모 추가</button></a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>
<div class="modal-footer">
  <!-- 일시적으로 저장되는 것으로 보여줄 예정, 나중에는 저장버튼을 누르면 planmodel의 pk 생성,
  해당 아이디로 생성된 메모 데이터를 그 planmodel pk로 전환해서 저장-->
  <a href="{% url 'route:schedule_del' %}">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </a>
  <!--Plan Table에 저장하기 위한 버튼-->
  <form action="{% url 'route:schedule_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="username" name="username" value="{{user}}">
    <button type="submit" class="btn btn-primary">저장</button>
  </form>
</div>
<script>
  // 메모 추가 버튼을 누를 때 Day 부분이 자동으로 채워지는 코드
  $('.memoBtn').click(function(){
   day = $(this).attr("id");
   window.localStorage.setItem('day',day);
  });
  // 장소 추가 버튼을 누를 때 Day 부분이 ajax로 넘기기 위한 코드, 넘긴 후 db에 저장
  // 단, datepicker 로 설정한 날짜도 변수 이름이 day여서 place table db column 명인 count로 전달
  $('.placeBtn').click(function(){
   count = $(this).attr("value");
   window.localStorage.setItem('count',count);
  });

</script>
<script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=458b106d0504311f70b03b0655ff3041&libraries=services">
</script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.373755, 126.527024), // 지도의 중심좌표
        level: 10 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다
    var positions = [];
    {% for k in place_lists %}

    positions.push({
    "content":'<div>{{forloop.counter}} :: {{k.place_name}}</div>',
    "latlng": new kakao.maps.LatLng({{k.longtitude}}, {{k.latitude}}),
    })
    //positions[{{forloop.counter}}]={{k.longtitude}};

    {% endfor %}
    console.log(positions);

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
        });
        // 마터에 표시할 인포인도우를 생성합니다.
        var infowindow = new kakao.maps.InfoWindow({
            content:positions[i].content
        });
        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    // 마커끼리의 선을 긋습니다.
    var linePath;
    var lineLine = new kakao.maps.Polyline();
    var distance;

    for (var i = 0; i < positions.length; i++) {
        if (i != 0) {
            linePath = [ positions[i - 1].latlng, positions[i].latlng ] //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다
        }
        ;
        lineLine.setPath(linePath); // 선을 그릴 라인을 세팅합니다

        var drawLine = new kakao.maps.Polyline({
            map : map, // 선을 표시할 지도입니다
            path : linePath,
            strokeWeight : 3, // 선의 두께입니다
            strokeColor : '#db4040', // 선의 색깔입니다
            strokeOpacity : 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
            strokeStyle : 'solid' // 선의 스타일입니다
        });

        distance = Math.round(lineLine.getLength());
        displayCircleDot(positions[i].latlng, distance);

    }

    function displayCircleDot(position, distance) {
        if (distance > 0) {
            // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
            var distanceOverlay = new kakao.maps.CustomOverlay(
                    {
                        content : '<div class="dotOverlay">거리 <span class="number">'
                                + distance + '</span>m</div>',
                        position : position,
                        yAnchor : 1,
                        zIndex : 2
                    });

            // 지도에 표시합니다
            distanceOverlay.setMap(map);
        }
    }
</script>
{% endblock %}