{% extends 'base.html' %}
{% block content %}
<!-- Modal -->

<form action="{% url 'route:memo' %}" method="post">
  {% csrf_token %}
  <!--
  {{ form }}
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">저장</button>
  </div>
  -->

  <div class="modal-body">
    <div class="form-group">
      DAY<input type="text" class="form-control" id="count" name="count" class="count">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" name="title" class="title">
    </div>
    <div class="form-group">
      <label for="content">내용</label>
      <textarea class="form-control" id="content" name="content" rows="3" class="content"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">저장</button>
  </div>

</form>
<script>
  day = window.localStorage.getItem('day');

  document.getElementById('count').value = day
  // document.getElementById('count').disable = true 하면 오류나서 수정함
  // day 값은 보이되 수정은 못하도록 함
  document.getElementById('count').readOnly = true
</script>

{% endblock %}