{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    <h1>일정 모아보기</h1>
    <br>
    <table class="table table-hover table-dark">
        <tbody>
        {% for i in pers_routes %}
        <tr>
            <th scope="row">[{{forloop.counter}}] {{i.startdate}} ~ {{i.enddate}}</th>
            <th class="text-right" scope="row">
                <a href="{% url 'accounts:personal_detail' i.pk %}"><button type="button" class="btn btn-primary">자세히보기</button></a>
                <button type="button" class="btn btn btn-danger">삭제</button>
            </th>
        </tr>
        {% endfor %}
       </tbody>
    </table>
</div>

{% endblock %}