{% extends 'base.html' %}
{% block content %}
<body>

<div id="map" style="width:100%;height:350px;"></div>
<script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=458b106d0504311f70b03b0655ff3041&libraries=services">
</script>
<div class="container">
    <h2> 장소 모아보기 </h2>
    {% for i in pers_place %}
    {{i.place_name}} :: {{i.place_address}} :: DAY{{i.count}}
    {% endfor %}

    {% if pers_memo %}
    <hr>
    <h2> 메모 모아보기 </h2>
    {% endif %}
    {% for j in pers_memo %}
    {{j.title}} :: {{j.content}} :: DAY{{j.count}}
    {% endfor %}
</div>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng({{pers_place.0.longtitude}}, {{pers_place.0.latitude}}), // 지도의 중심좌표
        level: 9 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다
    var positions = [];
    {% for i in pers_place %}

    positions.push({
    "content":'<div>{{forloop.counter}} :: {{i.place_name}}</div>',
    "latlng": new kakao.maps.LatLng({{i.longtitude}}, {{i.latitude}}),
    })
    //positions[{{forloop.counter}}]={{i.longtitude}};

    {% endfor %}
    console.log(positions);

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
        });
        // 마터에 표시할 인포인도우를 생성합니다.
        var infowindow = new kakao.maps.InfoWindow({
            content:positions[i].content
        });
        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    // 마커끼리의 선을 긋습니다.
    var linePath;
    var lineLine = new kakao.maps.Polyline();
    var distance;

    for (var i = 0; i < positions.length; i++) {
        if (i != 0) {
            linePath = [ positions[i - 1].latlng, positions[i].latlng ] //라인을 그리려면 두 점이 있어야하니깐 두 점을 지정했습니다
        }
        ;
        lineLine.setPath(linePath); // 선을 그릴 라인을 세팅합니다

        var drawLine = new kakao.maps.Polyline({
            map : map, // 선을 표시할 지도입니다
            path : linePath,
            strokeWeight : 3, // 선의 두께입니다
            strokeColor : '#db4040', // 선의 색깔입니다
            strokeOpacity : 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
            strokeStyle : 'solid' // 선의 스타일입니다
        });

        distance = Math.round(lineLine.getLength());
        displayCircleDot(positions[i].latlng, distance);

    }

    function displayCircleDot(position, distance) {
        if (distance > 0) {
            // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
            var distanceOverlay = new kakao.maps.CustomOverlay(
                    {
                        content : '<div class="dotOverlay">거리 <span class="number">'
                                + distance + '</span>m</div>',
                        position : position,
                        yAnchor : 1,
                        zIndex : 2
                    });

            // 지도에 표시합니다
            distanceOverlay.setMap(map);
        }
    }
</script>

</body>
{% endblock %}