{% extends 'base.html' %}
{% block content %}
<br>
<div class="write_body">
    <h1 class="title_name">나의 여행 일기</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div class="board_write_wrap">
            <div class="board_write">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd><input type="text" name="title" maxlength="50" required id="id_title" placeholder="제목을 입력해주세요!"></dd>
                        </dl>
                    </div><!--titile 끝-->
                    <div class="info">
                        <dl>
                            <dt>테마</dt>
                            <dd>
                                {{form.theme}}
                            </dd>
                        </dl>
                        <dl>
                            <dt>글쓴이</dt>
                            <dd><input type="text" name="author" required id="id_author"
                                       placeholder="글쓴이 입력" value="{{request.user}}"></dd>
                        </dl>
                    </div> <!--info 끝-->
                    <div class="cont">
                        <textarea name="content" cols="40" rows="10" required id="id_content" placeholder="내용 입력"></textarea>
                    </div><!--cont 끝-->
                    <br>

                    <!-- 사진 첨부를 db 설계상 하나다 보니 임시로 대체 -->
                    <input type="file" name="photo" id="id_photo">

                    <div class="file-input multiple">
                        <!-- 이 ui/ux는 사진을 여러장 첨부할때 필요 -->
                        <!--
                        <div class="file-input-wrapper">
                            <input type="file" name="photo" id="id_photo" >
                            <label for="id_photo" class="upload-cta">
                                Drag files here or <span class="blue">browse files</span> to upload
                            </label>
                        </div>

                        <ul class="selected-files"></ul>
                        -->
                        <div class="bt_wrap"><!--버튼 시작-->
                            <a href="{% url 'route:review' %}"><button class="on">등록</button></a><!--버튼으로 바꿈-->
                            <a href="{% url 'route:review' %}"><button class="on">취소</button></a>
                        </div> <!--버튼 끝-->
                    </div>

                </form>
            </div>
        </div>
</div>
<br>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="../../static/css/review/write.js"></script>

{% endblock%}