<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div class="under">
  <div class="container">
    <div >OnLine Project </div>
      <p>온라인 프로젝트 메인 페이지입니다!<br><br><br><br></p>
    <div class="sos-med">
<!--      <a href="https://ko-kr.facebook.com/login/device-based/regular/login/">-->
        <div class="facebook"> </div>
      </a>
<!--       <a href="https://twitter.com/?lang=ko">-->
        <div class="twitter"> </div>
      </a>
<!--       <a href="https://www.instagram.com/">-->
        <div class="linkedin"> </div>
      </a>
    </div>
  </div>
</div>
</body>
</html>
