<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel='stylesheet' href='../../static/css/main_css/footer.css'>
</head>
<body>
<hr><br>
<div class="foot_color">
  <div class="container">
      <img src="../../static/img/footer_동양.png" height="50" >
          <div class="copy">
              08221 서울시 구로구 경인로 445 ([구]고척동 62-160) 동양미래대학교  <br>
              <div class="tel"><b>TEL. 02-2610-1700  /  FAX. 02-2688-5494 </b><br></div>
              <div class="cu">COPYRIGHT(c) DONGYANG MIRAE UNIVERSITY. ALL RIGHTS RESERVED.</div>
          </div>

    <div class="sos-med">
      <a href="https://ko-kr.facebook.com/login/device-based/regular/login/">
        <div class="facebook"> </div>
      </a>
       <a href="https://twitter.com/?lang=ko">
        <div class="twitter"> </div>
      </a>
       <a href="https://www.instagram.com/">
        <div class="linkedin"> </div>
      </a>
    </div>
  </div>
</div>
<br>
</body>
</html>
