<div class="menu">
  <div class="logo">
    <a href="{% url 'accounts:hello_world' %}">
    <h1> <img src="../../static/img/logo.png"/> </h1>
    </a>
  </div>
  <div class="nav">
    <ul>
      {% if user.is_authenticated %}
      <li>{{ user.username }} 님</li>
      <li><a href="{% url 'accounts:detail' pk=user.pk %}">마이페이지</a></li>
      <li><a href="{% url 'accounts:personal' %}">일정확인하기</a></li>
      <li><a href="{% url 'route:index' %}">일정생성하기</a></li>
      <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
      {% else %}
      <li><a href="{% url 'accounts:login' %}">로그인</a></li>
      <li><a href="{% url 'accounts:create' %}">회원가입</a></li>
      <li><a href="#">일정추가</a></li>
      {% endif %}
    </ul>
  </div>
</div>



